h1{
    color:black;
    
    
}
body{
    background-color: white;
    margin: 0 auto;
   
}

section{
    /*background: url(del.jpg);
    background-repeat: no-repeat;*/
    opacity: 10;
    /*height: 100px;*/
    
}
div{
    
    border: 10px #0e0e0e;
    width: 500px;
    display: inline-block;
    margin: 0px 70px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align-content: center;
   /* padding: 0.5px;*/
}

h2{
    background-color: rgb(31, 9, 2);
}
.Padre{
    background-color: rgb(197, 241, 153);
    width: 100%;
    display: inline-block;
    margin: auto;
}

tr{
    /*margin: 70px;
    border: 10px;*/
}
img{
    margin: 5px;
}

nav{
    width: 100%;
    height: 104px;
    margin: 5px 0px;
    background-color:#00B9B9;
    border: 10px #0e0e0e;
}

.final{
    background-color: #00B9B9;
    margin-top: 20px;
}


[data-quantity="1kg"]{
    color:green;
}

[data-vegetable="spicy"]{
    color:blue;
}

[data-vegetable="liquid"]{
    background-color: sandybrown;
}

a{
    color: seagreen;
}

a:visited{
    color: red;
}

a:focus,
a:hover
{
    color: black;
}
.conten{
    background-color: chartreuse;
    padding: 5px;
    border-radius: 12%;
}

.conten:hover{
    background-color: black;
}

.conten2::after{
    content: "HOLAMUNDO";
    color: blanchedalmond;
    background-color: black;
}

.diviext{
    
    border: 10px blue;
    background-color:blue;
  
    padding: 10px;
    color: blanchedalmond;
    text-align: center;
    margin: 10px;
    /*margin: 10px;*/
    position: relative;
    left: 40px;
    top: 10px;

    
       /*padding: 10px;*/
    
}

.diviext2{
    
    border: 10px red;
    background-color:black;
   
    padding: 10px;
    color: blanchedalmond;
    text-align: center;
    margin: 10px;
  
    
}

.diviext:hover{
    background-color: cadetblue;
}

.parrafo{
    text-align: justify;
    
}

.contenp{
    background-color:white;
    width: 100%;
    margin: 0 auto;
}

.celdas{
    background-color:white;
    border-radius: 20px;
}

.celdas:hover{
    background-color: rgb(185, 188, 192);

}